<div class=wrapper>
  <div class="jumbotron">
    <p>
      Check out Rakuten.ca! It's a great website that actually pays you Cash Back every time you shop online and it's free to join! Rakuten.ca works with over 750 stores that ship to Canada including Indigo.ca, Amazon.ca, eBay, Old Navy, Hudson’s Bay and Groupon.
      </p>
    <p>
      Why wait? <a href="https://www.rakuten.ca/referrer?referrerid=o9B1wKIaN5c%3D"><h2>Click here to sign up today</h2></a>
     <br />

      Happy earning money when you shop online!
      <br />
    </p>
  </div>
</div>
  
