<div class=wrapper>
  <form name="form" (ngSubmit)="register(user)" #regsiterForm="ngForm" novalidate class="jumbotron">
    <div class="form-group row">
      <label class="control-label required col-sm-3" for=txtUsername>User Name</label>

      <div class="col-sm-9">
        <input type="text" [(ngModel)]="user.username" #username="ngModel" required name="username" class="form-control" maxlength=16 autofocus>
        <span class="help-block" *ngIf="username.errors?.required">
          Required
        </span>
      </div>
    </div>
    <div class="form-group row">
      <label class="control-label required col-sm-3" for=txtPassword>Password</label>
      <div class="col-sm-9">
        <input type=password [(ngModel)]="user.password" #password="ngModel" required name="password" class="form-control" maxlength=16 />
        <span class="help-block" *ngIf="password.errors?.required">
          Required
        </span>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-offset-3 col-sm-9">
        <button type="submit" class="btn btn-success" id=btnRegister [disabled]="regsiterForm.invalid">Register</button>
      </div>
    </div>
   </form>
</div>
